# Learn Python - Full Course for Beginners  

Note: If this is your first time using Google Colab as a development environment, check out this intro: https://colab.research.google.com/notebooks/intro.ipynb

Content References 
* https://youtu.be/rfscVS0vtbw  
* Python String Methods: https://www.w3schools.com/python/python_ref_string.asp 
* Python Math Functions: https://docs.python.org/3/library/math.html 
* Google Colab Keyboard Shortcuts: https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/01.02-Shell-Keyboard-Shortcuts.ipynb

### Module 1 

* Hello World
* Drawing a Shape
* Variables & Data Types
* Working With Strings
* Working With Numbers
* Getting Input From Users
* Building a Basic Calculator

### 1.1 Hello World

In [ ]:
print("Hello World")

Hello World

* Print statements are used to output whatever is placed between the parenthese '()'  
* They can be expressed in terms of raw characters (strings) such as 'Hello World'  
* But they can also be used to print the value of variables as seen below.

In [ ]:
# Declaring a variable 
message = 'Hello World' 

# Printing the variable 'message'
print(message)

Hello World

* When printing variables, there is no need to place the variable name inbetween " " or ' ' (These can be used interchangeably when dealing with strings).  
* In this case, we declared a variable that containts a string ('Hello World'). Instead of directly printing a string, we print the __variable message__ which containts the string 'Hello World' 


* When python runs your program, __it executes each line in the exact sequence that is written__. If you were to print the variable __message__ before declaring the value of the variable, you would get an error.

* It programming, it is a good practice to add notes about what your code is doing. This can be done using the pound sign __#__ . This tells python not to run anything after the __#__ on a single line. This means that whatever is written after the pound sign is only seen in the code, but not the output.

### 1.2 Drawing A Shape

In [ ]:
print("    /|") 
print("   / |")  
print("  /  |") 
print(" /___|")

    /|
   / |
  /  |
 /___|

* As you can see, printing strings allows you to literally print whatever you type in your keyboard, but keep note that all strings must be placed between single (' ') or double (" ") quotation marks. 

* When python runs your program, it executes each line in the exact sequence that is written.

## 1.3  Working with Variables and Variable Types

### Strings

#### Let us tell a simple story using the print statement

In [ ]:
print("There once was a man named George, ") 
print("he was 70 years old. ") 
print("He really liked the name George, ") 
print("but didn't like being 70.")

There once was a man named George,
he was 70 years old.
He really liked the name George,
but didn't like being 70.

Alternatively, you can also make use of the """ (triple quotation) if you want to print multiple lines of strings without using multiple __print()__ statements

In [ ]:
print(""" 
There was once a man named George, 
he was 70 years old. 
He really liked the name George, 
but didn't like being 70.
""")

There was once a man named George,
he was 70 years old.
He really liked the name George,
but didn't like being 70.

* This is a nice story, but what if I wanted to be able to change the name of the 
character (e.g John or Mike) , or his characteristics (i.e change his age to 25) ?  
* I could do that manually by editing the strings as seen in the code below, but doing so would force me to make 4 changes in total

In [ ]:
print(""" 
There was once a man named John, 
he was 25 years old. 
He really liked the name John, 
but he didn't like being 25 
""")

There was once a man named John,
he was 25 years old.
He really liked the name John,
but he didn't like being 25

#### Now let us do things more efficiently using variables

In [ ]:
# Declare variables 
character_name = 'mike' 
character_age = 30 

# Tell the story again  
print(f""" 
There was once  man named {character_name}
he was {character_age} years old. 
He really liked the name {character_name}, 
but he didn't like being {character_age}
""")

There was once  man named mike
he was 30 years old.
He really liked the name mike,
but he didn't like being 30

##### The code above just made things much more organized and effficent, but we can do better.  Remember that earlier, we created a variable (or string variable) called 'message' where we stored a string, then printed it instead of retyping the actual message between the print statement. Now let us use the same technique

In [ ]:
# Declare Variable 
character_name = 'John' 
character_age = 55 

# Creating a new string variable called 'story'
# When you want to format a string using other variables, we put an f before the first set of quotations, and we enclose the variables we want to reference in between brackets {}
story = f"""  
There was once  man named {character_name}
he was {character_age} years old. 
He really liked the name {character_name}, 
but he didn't like being {character_age} 
"""  

# Now we tell the story 
print(story)

There was once  man named John
he was 55 years old.
He really liked the name John,
but he didn't like being 55

Alternatively, we can also reference variables by "adding them" to the strings using __+__. The process of 'stitching' strings together is called __concatenation__.

In [ ]:
# Example of string concatenation 

print("Hello" + " " + "World") 

# Another Example 
first_word = "Hello" 
space_bar = " " 
second_word = "World" 

print(first_word + space_bar + second_word)

Hello World
Hello World

#### Now let us use the principle of string concatenation and variables to make story telling more efficient.

In [ ]:
# Declare Variable 
character_name = 'John' 
character_age = 55 

print("There once was a man named" + character_name + ",") 
print("he was" + character_age + "years old. ") 
print("He really liked the name" + character_name + ", ") 
print("but didn't like being" + character_age + ".")

There once was a man namedJohn,
ERROR! Session/line number was not unique in database. History logging moved to new session 65

TypeError: ignored

As you can see, when using __+__ to stitch/concatenate strings together, we get an error because __character_age__ is actually declared as a number or integer. Concatenation only works with variables that are of the __string type__. We can fix this in two ways.

In [ ]:
# Solution 1 ,  we declare the age as a string using the str()

# Declare Variable 
character_name = 'John'  


character_age = str(55)

print("There once was a man named" + character_name + ",") 
print("he was " + character_age + " years old. ") 
print("He really liked the name" + character_name + ", ") 
print("but didn't like being" + character_age + ".")

There once was a man namedJohn,
he was 55 years old.
He really liked the nameJohn,
but didn't like being55.

In [ ]:
# Solution 2, we can convert charactaer_age to a string when we print it

# Declare Variable 
character_name = 'John'  

# We declare the age as a string using the str()
character_age = 55 

print("There once was a man named" + character_name + ",") 
print("he was " + str(character_age) + " years old. ") 
print("He really liked the name" + character_name + ", ") 
print("but didn't like being " + str(character_age) + ".")

There once was a man namedJohn,
he was 55 years old.
He really liked the nameJohn,
but didn't like being 55.

#### Before moving forward, let give a brief overview of using __method (sometimes called functions)__  and how we can use them to manipulate strings 

* A function/method is essentially a little block of code that we can run to do a simple and specific operation for us. 
* We can use functions to modify our strings or even get information about our strings. 
* To use methods/functions we use following syntax           
variable_name.__function__

#### Common Functions 
lower() returns a string but entirely in lowercase.

In [ ]:
phrase = "Giraffe Academy" 
print(phrase.lower())

giraffe academy

upper() returns a string but entirely in uppercase

In [ ]:
phrase = "Giraffe Academy" 
print(phrase.upper())

GIRAFFE ACADEMY

len() counts the number of characters in a string

In [ ]:
phrase = "Giraffe Academy" 
print(len(phrase))

15

We can also grab indvidual characrters in a string 
* We do this by using a set of brackets __[]__ and we specify the index or the position of the character we want to grab 
* Note: In python the first position is referenced by the index = 0

In [ ]:
phrase = "Giraffe Academy" 
print(phrase[0])

G

In [ ]:
phrase = "Giraffe Academy" 
print(phrase[2])

r

If we want to grab the _last__ character of a string, we use the index [-1]

In [ ]:
phrase = "Giraffe Academy" 
print(phrase[-1])

y

Similarly, what if we want to do the opposite, and we want to know what the index of a character is in a string?  We can do this using the .index() function

In [ ]:
phrase = "Giraffe Academy" 
print(phrase.index("G"))

0

In [ ]:
phrase = "Giraffe Academy" 
print(phrase.index("f"))

4

## Working with Numbers  

* Numbers are the most common data types in python programming 
* Most programs you will be writing will most likely be dealing with numbers

### Basics of Working with Numbers

In [ ]:
# Printing Numbers 

print(2) 

# We can also print out decimals 

print(0.02) 

# Negative numbers 

print(-0.2)

2
0.02
-0.2

#### Basic Arithmetic

In [ ]:
# Addition
print(10+4)  

# Subtraction 
print(10-4) 

# Multiplication 
print(10*4)  

# Division  
print(10/4) 

# Getting the remainder 
print(10%4)

14
6
40
2.5
2

A neater way to do this is to use variables, like we did earlier when we learned about string variables.

In [ ]:
first_number = 10 
second_number = 4  

# Addition
print(first_number + second_number)  

# Subtraction 
print(first_number - second_number) 

# Multiplication 
print(first_number * second_number)  

# Division  
print(first_number/second_number) 

# Getting the remainder 
print(first_number % second_number)

14
6
40
2.5
2

Similarly, we can make new variables to capture the operations, then print these variables

In [ ]:
# Declare the number variables and their values
first_number = 10 
second_number = 4  


# Create new variables to store the operations
sum_of_num = first_number + second_number  
difference = first_number - second_number 
product = first_number * second_number 
quotient = first_number / second_number 
remainder = first_number % second_number 

# Print the answer to each operation
print(sum_of_num) 
print(difference) 
print(product) 
print(quotient)
print(remainder)

14
6
40
2.5
2

### Other things we can do with numbers

Converting numbers to strings using __str(number)__

In [ ]:
my_num = 5 
print(str(my_num))

5

This comes in handy when you want to print out numbers alongside strings.

In [ ]:
my_num = 5  

# Remember string concatenation ?
print(str(my_num) + " is my number")

5 is my number

### More stuff we can do with numbers

__max()__ and __min()__ functions

In [ ]:
# Getting the max between numbers 
print(max(4,6)) 

# Getting the min between numbers 
print(min(4,6))

6
4

__round()__ function allows us to round off numbers

In [ ]:
print(round(3.2)) 
print(round(3.7))

3
4

### By Default,  functions we can use natively (without installing addons) is limited. In order to be able to use other functions, we import them from their respective libraries or modules

Python library/module is a collection of functions and methods that allows you to perform many actions without writing your code. 

* Requests. HTTP library.
*Scrapy. For web scraping.
* wxPython.A GUI toolkit.
* Pillow. Imaging library.
*SQLAlchemy. A database library.
* Beautiful Soup. XML and HTML parsing library.
* Twisted. For networking applications development.
* Numpy. Provides math functions.
* SciPy. Algorithm and mathematical tools.
* matplotlib.a numerical plotting library.
* Pygame. 2d game development.

### Let us use the Math Module of Python
reference: Python Math Functions: https://docs.python.org/3/library/math.html

In [ ]:
# importing functions from the math module allows us to do much more with regards to math within python
from math import * 

# floor() function rounds a number down
print(floor(3.7)) 

# ceil() does the opposite and rounds a number up 
print(ceil(3.7)) 

# getting the square root 
print(sqrt(36))

3
4
6.0

## 1.4 Getting Input from Users 

Previously, we wrote python programs that just produced an output based on our code. Now we will write programs that allow users to input information into the program, store it in a variable, and make use of that input using the __input()__ function 

The input() function tells python to expect an input from a user. Within the __input()__ we can leave a message or a prompt from the user.

In [ ]:
# Create a variable called age, and ask the user 
age = input("How old are you?") 

# Output the age of the user 
print(f"You are {age} years old") 
print("You are ", age, " years old") 
print("You are " + str(age) + " years old")

How old are you?10
You are 10 years old
You are  10  years old
You are 10 years old

Now that we have collected the users age and stored it into a variable, we can manipulate this information

In [ ]:
# Remember, all data recorded by input() is a string by default. If we want to perform arithmetic, we need to convert this into a number/integer using int() 

age_plus_ten = int(age) + 10 
print(age_plus_ten)

20

Let us write a small program using everything we have learned.

In [ ]:
age = input("How old are you?")
height = input("How tall are you? ")
weight = input("How much do you weigh in pounds?")
weight_in_kg = int(weight) / 2.2

print(f"So, you're {age} old, {height}, tall and {weight_in_kg} heavy")

How old are you?22
How tall are you? 175
How much do you weigh in pounds?175
So, you're 22 old, 175, tall and 79.54545454545453 heavy

By default, arithmetic operations, such as the one in the variable __weight_in_kg__ will result in a float (a number with a decimal), to clean this up we can re-write the code and make use of the __round()__ function we learned earlier

In [ ]:
age = input("How old are you?")
height = input("How tall are you? ")
weight = input("How much do you weigh in pounds?")
weight_in_kg = float(weight) / 2.2

print(f"So, you're {age} old, {height}, tall and {round(weight_in_kg, 2)} heavy")

How old are you?10
How tall are you?
How much do you weigh in pounds?170
So, you're 10 old, , tall and 77.27 heavy

## 1.5 Building a Basic Calculator

In [ ]:
# Create variables to store the numbers inputted by users  
# Since the input() function records data as strings by default, we will automatically convert these numbers into numbers using the float() function so we can perform some calculations.  
# The float function is similar to int() in the sense that it converts strings into numbers, but float allows decimals, whereas int() is only whole numbers. 
# If num1 = int(input()), and the user enters a decimal, it will return an error

num1 = float(input("Enter a number: ")) 
num2 = float(input("Enter another number:")) 

sum_of_nums = num1 + num2 
diff = num1 - num2 
prod = num1 * num2 
quo = num1 / num2 
remainder = num1 % num2 

print("The sum of the numbers is: ", sum_of_nums) 
print("The difference of the numbers is: ", diff) 
print("The product of the numbers is: ", prod) 
print("The quotient of the numbers is: ", quo) 
print("The remainder of the numbers is: ", remainder)

Enter a number: 20
Enter another number:10
The sum of the numbers is:  30.0
The difference of the numbers is:  10.0
The product of the numbers is:  200.0
The quotient of the numbers is:  2.0
The remainder of the numbers is:  0.0